body {
  background-image: radial-gradient(circle, #06beb6, #1cbbba, #2db8bd, #3bb4be, #48b1bf);

}

.App {
  width: 60vw;
  text-align: center;
  min-height: 50vh;
  margin: 1rem auto;
  background-color: aliceblue;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.head {
  background-color: #d66d75;
}

.head h1,
.head p {
  margin: 0;
  padding: 1rem;
  color: white;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  background-color: #d66d75;
}

.inputDiv input,
.inputDiv button {
  text-align: center;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  box-shadow: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.inputDiv button {
  cursor: pointer;
  color: white;
  background-color: cornflowerblue;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.inputDiv button:hover,
.outputDiv button:active {
  background-color: rgb(29, 106, 249);
  color: white;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.outputDiv {
  padding: 1rem;
  text-align: center;
}

.outputDiv img {
  width: 20vw;
}

@media (max-width:580px) {
  .App {
    margin: 1rem;
  }

  .inputDiv {
    flex-direction: column !important;
  }
}